#app {
    display: flex;
    flex-grow: 1;
}

.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main {
    display: flex;
    padding: 25px;
    flex-direction: column;
}

.header {
    padding: 10px;
    border: 1px solid #9f9e9e;
    display: inline;
    height: 48px;
}
